/Data
/vad
notes.md
my_venv/pyvenv.cfg
__pycache__
Data
extracted_features_csv
Anomaly_detection_dataset
Full_anomaly_detection_yolov5
Dataset_yolov5_v2
LightBgm-model
sample_videos
yolo11n.pt
yolo_v8_dataset

